
.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0.625rem;
    border-radius: 0.5rem;
    background-color: var(--bg-container);
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation .arrow {
    margin-right: 1.25rem;
    width: 2rem;
    height: 2rem;
    background: var(--bg-icon);
    background-color: var(--bg-arrow-color) !important;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.navigation .arrow .fa {
    padding: 0.7rem;
    font-size: 1rem !important;
}

.header__search {
    display: flex;
    align-items: center;
    width: 22.75rem;
    height: 3rem;
    margin-left: 0.5rem;
    background-color: var(--bg-section-dark);
    border-radius: 31.25rem;
    border: 0.063rem solid transparent;
}

.header__search img {
    width: 1rem;
    height: 1rem;
    margin-left: 0.625rem;
}

.header__search input {
    background: transparent;
    border: none;
    padding: 0 6.25rem 0 0.75rem;
    color: var(--text-light);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__login .subscribe2 {
    font-size: 1rem;
    font-weight: 700;
    margin-right: 2rem;
}

.header__login .login2 {
    font-size: 1rem;
    background-color: var(--bg-light-button);
    width: 6.25rem;
    color: var(--text-dark);
    font-weight: 700;
    border-radius: 2.5rem;
    padding: 1rem;
    justify-content: center;
}


