/* PLAYLIST */
.playlist-container {
    border-radius: 0.625rem;
    background-color: var(--bg-container);
    min-width: var(--space-main-min);
}

.playlist-elements {
    padding: var(--margin-elements-inner);
}