
.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, var(--bg-footer-1), var(--bg-footer-2));
    padding: 0.938rem 2.5rem;
    display: flex;
    justify-content: space-between;
}
.disclaimer-premium .text {
   flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
    color: var(--text-light);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 0.625rem;
}

.disclaimer-premium .disclaimer-premium__subtitle {
    color: var(--text-light);
    font-size: 0.875rem;
    font-weight: 500;
}

.footer__button {
    background-color: var(--bg-light-button);
    color: var(--text-dark);
    padding: 0.875rem 1.875rem;
    border-radius: 2.5rem;
}