.library {
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    padding: 20px 10px;
}

.library .library__button .fa {
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}
