.library {
    background-color: var(--bg-container);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.25rem 0.5rem;
    color: var(--text-light);
    font-weight: 600;
    font-size: 0.875rem;
    margin-top: var(--margin-elements);
}

.library .library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    padding: 1.25rem 0.625rem;
}

.library .library__button .fa {
    padding-right: 0.5rem;
}

.library .library__content .fa-plus {
    margin: 1.5rem 0.625rem;
}
