.menuButton {
    display: flex;
    color: var(--text-section);
    background-color: transparent;
    border: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;    
    align-items: center;
    padding: 0;
}

.menuButton__image {
    font-size: 1.25rem;
    margin-right: 0.625rem;
    font-weight: 300;
}