.languages .languages__button {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: var(--text-light);
    border: 0.063rem solid var(--border-gray);
    border-radius: 1.25rem;
    width: 10.625rem;
}
.languages .languages__button .fa{
    font-size: 0.8rem;
}