.sidebar__navigation {
    background-color: var(--bg-container);
    border-radius: 0.5rem;
}

.sidebar__navigation .logo {
    background: var(--bg-container);
    display: flex;
    border-radius: 0.5rem;
    padding: 1rem 0 0 1rem;
}

.sidebar__navigation .logo img {
    width: 5rem;
}

.sidebar__navigation ul {
    margin-top: 1.25rem;
    padding: 0 1.25rem 0.625rem 1.25rem;
}

.sidebar__navigation ul li {
    padding: 0.625rem 0;
}