/* CARD ARTISTA */
  
.artist {
    --column-count: 5;
    --grid-gap: 1.5rem;
    --min-container-width: 23.25rem;
}
  
.hidden {
    display: none;
}
  
.grid-container {
    grid-gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    min-width: var(--min-container-width);
}
  
.artist-card {
    background: var(--bg-section-gray);
    border-radius: 0.5rem;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 1rem;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}
  
.artist-card:hover {
    background-color: var(--bg-section-dark);
}
  
.card-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}
  
.artist-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
}
  
.card-text {
    display: flex;
    flex-direction: column;
    color: var(--text-light);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 3.875rem;
}
  
.card-text a {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}
  
.artist-name {
    box-sizing: border-box;
    margin-block: 0;
    font-size: 1rem;
    font-weight: 700;
    padding-block-end: 0.5rem;
}
  
.artist-categorie {
    color: var(--text-gray);
    font-weight: 400;
    font-size: 0.875rem;
}
  
.play {
    position: relative;
}
  
.play .fa-play {
    position: absolute;
    right: 0.625rem;
    top: 7.5rem;
    padding: 1.125rem;
    background-color: var(--bg-green-button);
    border-radius: 100%;
    font-size: 0.875rem;
    opacity: 0;
    transition: all ease 0.4s;
}
  
.artist-card:hover .play .fa-play {
    opacity: 1;
    transform: translateY(-1.25rem);
}
  
.play .fa-play:hover {
    padding: 1.25rem;
    cursor: pointer;
}
  
#result-artist {
    padding: 1.25rem 2.5rem;
}
/* FIM CARD ARTISTA */