.cookies {
    margin: 1.563rem 1.25rem;
}

.cookies a {
    color: var(--text-section);
    font-weight: 500;
    font-size: 0.625rem;
    text-decoration: none;
}

.cookies a:hover {
    text-decoration: underline;
}